<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>调查问卷</title>
</head>
<body>
<div id="app">
    <div v-for="(question,index) in questionInfos">
        <keep-alive>
            <question-form
                :question-id="question.id"
                :description="question.description"
                :type="question.type"
                :options="question.options"
                v-if="question.id === currentIndex"
            ></question-form>

        </keep-alive>
    </div>
    <bottom-nav :question-index="currentIndex"
                :question-length="questionInfos.length"
                @update-index="updateIndex">

    </bottom-nav>
</div>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="utils/eventBus.mjs" type="module"></script>
    <script src="components/bottomNav.mjs" type="module"></script>
    <script src="components/form.mjs" type="module"></script>
    <script src="index.js"></script>
</body>
</html>
